
body {
    background: url("https://wallpapercave.com/wp/wp2763910.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}