h2{
    color:black;background-color:brown ;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px ;
    font-weight:bold;
    font-style:italic ;
    border: 30px solid black
    
}
body {
    background: pink
}